<div class="row justify-content-center">
    <div class="col-md-10 food-list">
        <app-food-list (foodEdit)="editFood($event)" [refreshFoodList]="refreshFoodList"></app-food-list>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-10 col-lg-7">
        <form [formGroup]="foodForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <mat-form-field appearance="outline" class="col-lg-8">
                    <mat-label>Étel neve</mat-label>
                    <input matInput type="text" formControlName="name" placeholder="Név" maxlength="50" minlength="2"
                        required />
                    <mat-hint align="end">{{ foodForm.value.name?.length || 0 }}/50</mat-hint>
                    <mat-error *ngIf="foodForm.get('name').invalid">{{
                        getErrorMessage("name")
                        }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-lg-4">
                    <mat-label>Ár</mat-label>
                    <input matInput type="number" class="right-align" formControlName="price" placeholder="3000" min="0"
                        required />
                    <span matSuffix>HUF</span>
                    <mat-error *ngIf="foodForm.get('price').invalid">{{
                        getErrorMessage("price")
                        }}</mat-error>
                </mat-form-field>
            </div>
            <mat-form-field appearance="outline">
                <mat-label>Leírás</mat-label>
                <textarea matInput type="text" formControlName="description" placeholder="Az étel..." maxlength="1000"
                    rows="4"></textarea>
                <mat-error *ngIf="foodForm.get('description').invalid">{{
                    getErrorMessage("description")
                    }}</mat-error>
            </mat-form-field>
            <div *ngIf="!edit; else editButtons" class="row justify-content-center">
                <div class="col-lg-4 col-md-6 mb-3">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Hozzáadás</button>
                </div>
            </div>
            <ng-template #editButtons>
                <div class="row justify-content-between">
                    <div class="col-md-4 mb-3">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Mentés</button>
                    </div>
                    <div class="col-md-4 mb-3">
                        <button type="button" class="btn btn-secondary btn-lg btn-block"
                            (click)="cancelEdit()">Mégse</button>
                    </div>
                </div>
            </ng-template>
        </form>
    </div>
</div>