@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }

    string returnUrl = null;
    var query = ViewContext.HttpContext.Request.Query;
    if (query.ContainsKey("returnUrl"))
    {
        returnUrl = query["returnUrl"];
    }
}

@if(@returnUrl != null)
{
    <div class="mb-4">
        <a href="@returnUrl"><h5><i class="fas fa-chevron-left"></i> Vissza a főoldalra</h5></a>
    </div>
}


<div class="ml-4">
    <h2>Profil beállításai</h2>
    <h4>Változtasd meg a fiókod beállításait</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
