<mat-horizontal-stepper linear labelPosition="bottom" #stepper>
    <mat-step [editable]="!orderFinalizationCompleted" [completed]="chooseFoodCompleted">
        <ng-template matStepLabel>Ételek kiválasztása</ng-template>
        <app-choose-foods (chooseFoodCompleted)="chooseFoodCompleted = $event"></app-choose-foods>
    </mat-step>
    <mat-step [editable]="!orderFinalizationCompleted" [completed]="deliveryDetailsCompleted">
        <ng-template matStepLabel>Kiszállítási adatok</ng-template>
        <app-delivery-details (deliveryDetailsCompleted)="deliveryDetailsCompleted = $event"></app-delivery-details>
    </mat-step>
    <mat-step [editable]="false" [completed]="orderFinalizationCompleted">
        <ng-template matStepLabel>Rendelés véglegesítése</ng-template>
        <app-order-finalization (orderFinalizationCompleted)="orderCompleted($event)"></app-order-finalization>
    </mat-step>
    <mat-step [editable]="false">
        <ng-template matStepLabel>Kész</ng-template>
        <h2 class="text-center">Rendelését rögzítettük.</h2>
        <a class="show-order-details" [routerLink]="['/order/details', createdOrderId]">Rendelés megtekintése</a>
    </mat-step>
</mat-horizontal-stepper>