@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Jelszó visszaállítás megerősítve";
}

<h1>@ViewData["Title"]</h1>
<p>
    A jelszavad visszaállításra került. A belépéshez <a asp-page="./Login">kattints ide</a>.
</p>
