<div class="card" (click)="onItemClicked()" *ngIf="restaurantOverview">
  <img
    [src]="restaurantOverview.imagePath"
    class="card-img-top mx-auto"
    [alt]="restaurantOverview.name"
  />
  <div class="card-body">
    <h5 class="card-title">{{ restaurantOverview.name }}</h5>
    <div class="d-flex flex-row align-items-center justify-content-between">
      <app-rating-bar [rating]="restaurantOverview.rating"></app-rating-bar>
      <div class="review-count">{{ restaurantOverview.reviewCount }}</div>
    </div>
    <p class="card-text text-justify mt-3">
      {{ restaurantOverview.shortDescription }}
    </p>
  </div>
  <div class="card-footer">
    <small class="text-muted text-end"
      >Város: {{ restaurantOverview.city }}</small
    >
  </div>
</div>
