<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
      <div class="container-fluid">
          <a class="navbar-brand" routerLink="">IRestaurant</a>
          <button (click)="toggle()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup" [ngClass]="{show: isExpanded}">
            <div class="navbar-nav">
              <a class="nav-link" routerLink="restaurant" routerLinkActive="active">Kezdőlap</a>
              <ng-container *ngIf="(isAuthenticated | async) && (userRole | async) === 'Guest'">
                <a class="nav-link" routerLink="rendeleseim" routerLinkActive="active">Rendeléseim</a>
                <a class="nav-link" routerLink="kedvencek" routerLinkActive="active">Kedvencek</a>
              </ng-container>
              <ng-container *ngIf="(isAuthenticated | async) && (userRole | async) === 'Restaurant'">
                <a class="nav-link" routerLink="rendelesek" routerLinkActive="active">Rendelések</a>
                <a class="nav-link" routerLink="myrestaurant" routerLinkActive="active">Étermem</a>
                <a class="nav-link" routerLink="menu" routerLinkActive="active">Étlap</a>
              </ng-container>
              <a class="nav-link" routerLink="kapcsolatok" routerLinkActive="active">Rólunk</a>
            </div>
            <div class="navbar-collapse collapse d-inline-flex flex-sm-row-reverse">
              <app-login-menu></app-login-menu>
            </div>
          </div>
        </div>
  </div>
</nav>
