mat-form-field {
  width: 80px;
  height: 70px;
  margin-right: 20px;
}

.plus-button {
  border-radius: 30px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus-button mat-icon {
  font-size: xx-large;
  font-weight: bold;
  width: auto;
  height: auto;
}

p {
  margin: 0px;
}

.chosen-food-list {
  height: 450px;
  max-width: 95%;
  border-radius: 8px;
  padding: 0px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}

.chosen-food-delete {
  border-width: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chosen-food-list .list-group {
  overflow-y: auto;
  height: 350px;
}

.chosen-food-total {
  background-color: rgb(228, 228, 228);
  font-weight: bold;
  font-size: large;
  padding: 10px;
  height: 50px;
  position: absolute;
  bottom: 50px;
  left: 0px;
  right: 0px;
}

.next-button {
  height: 50px;
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  bottom: 0px;
}
