@page
@model CreateUserAddressModel
@{
    ViewData["Title"] = "Cím létrehozása";
    ViewData["ActivePage"] = ManageNavPages.UserAddressList;
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <form id="address-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserAddress.ZipCode">Irányítószám</label>
                <input asp-for="UserAddress.ZipCode" class="form-control" />
                <span asp-validation-for="UserAddress.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAddress.City">Város</label>
                <input asp-for="UserAddress.City" class="form-control" />
                <span asp-validation-for="UserAddress.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAddress.Street">Utca, házszám</label>
                <input asp-for="UserAddress.Street" class="form-control" />
                <span asp-validation-for="UserAddress.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAddress.PhoneNumber">Telefonszám</label>
                <input asp-for="UserAddress.PhoneNumber" class="form-control" />
                <span asp-validation-for="UserAddress.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-address-button" type="submit" class="btn btn-primary">Add</button>
            <a class="btn btn-danger" asp-page="AllAddress">Cancel</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}