<h1 mat-dialog-title>{{ food ? "Szerkesztés" : "Hozzáadás" }}</h1>
<form [formGroup]="foodForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <mat-form-field appearance="outline" class="col-lg-8">
      <mat-label>Étel neve</mat-label>
      <input matInput type="text" formControlName="name" placeholder="Név" />
      <mat-hint align="end">{{ foodForm.value.name?.length || 0 }}/50</mat-hint>
      <mat-error *ngIf="foodForm.get('name')?.invalid">{{
        getErrorMessage("name")
      }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-lg-4">
      <mat-label>Ár</mat-label>
      <input
        matInput
        type="number"
        class="right-align"
        formControlName="price"
      />
      <span matSuffix>Ft</span>
      <mat-error *ngIf="foodForm.get('price')?.invalid">{{
        getErrorMessage("price")
      }}</mat-error>
    </mat-form-field>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Leírás</mat-label>
    <textarea
      matInput
      type="text"
      formControlName="description"
      placeholder="Az étel..."
      rows="4"
    >
    </textarea>
    <mat-error *ngIf="foodForm.get('description')?.invalid">{{
      getErrorMessage("description")
    }}</mat-error>
  </mat-form-field>
  <div class="d-grid gap-2 d-md-flex justify-content-md-between">
    <button type="submit" class="btn btn-primary btn-lg col-md-4">
      {{ food ? "Mentés" : "Hozzáadás" }}
    </button>
    <button
      type="button"
      class="btn btn-danger btn-lg col-md-4"
      (click)="cancel()"
    >
      Mégse
    </button>
  </div>
</form>
