<h1 mat-dialog-title>Értékelés írása</h1>
<form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Cím</mat-label>
    <input
      matInput
      type="text"
      formControlName="title"
      placeholder="Fontos tudnivalók"
    />
    <mat-hint align="end"
      >{{ reviewForm.value.title?.length || 0 }}/200</mat-hint
    >
    <mat-error *ngIf="reviewForm.get('title')?.invalid">{{
      getErrorMessage("title")
    }}</mat-error>
  </mat-form-field>
  <div>
    <mat-label>Értékelés</mat-label>
    <mat-slider
      thumbLabel
      min="1"
      max="5"
      step="0.1"
      formControlName="rating"
    ></mat-slider>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Leírás</mat-label>
    <textarea
      matInput
      type="text"
      formControlName="description"
      placeholder="Mit szeretsz/nem szeretsz az étteremben?"
      rows="6"
    >
    </textarea>
    <mat-error *ngIf="reviewForm.get('description')?.invalid">{{
      getErrorMessage("description")
    }}</mat-error>
  </mat-form-field>
  <div class="d-grid gap-2 d-md-flex justify-content-md-between">
    <button type="submit" class="btn btn-primary btn-lg col-md-4">
      Hozzáadás
    </button>
    <button
      type="button"
      class="btn btn-danger btn-lg col-md-4"
      (click)="cancel()"
    >
      Mégse
    </button>
  </div>
</form>
