<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-md">
    <a class="navbar-brand" routerLink="">IRestaurant</a>
    <button (click)="toggle()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{show: isExpanded}">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="restaurant" routerLinkActive="active">Kezdőlap</a>
        </li>
        <ng-container *ngIf="(userRole | async) === 'Guest'">
          <li class="nav-item">
            <a class="nav-link" routerLink="order" routerLinkActive="active">Rendeléseim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="myreviews" routerLinkActive="active">Értékeléseim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="restaurant/favourite" routerLinkActive="active">Kedvencek</a>
          </li>
        </ng-container>
        <ng-container *ngIf="(userRole | async) === 'Restaurant'">
          <li class="nav-item">
            <a class="nav-link" routerLink="order" routerLinkActive="active">Rendelések</a>
          </li>
          <li class="nav-item dropdown" routerLinkActive="active" appDropdown>
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Étermem
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" appDropdownMenu>
              <li><a class="dropdown-item" routerLink="myrestaurant" routerLinkActive="active"
                  [routerLinkActiveOptions]="{exact: true}">Valós nézet</a></li>
              <li><a class="dropdown-item" routerLink="myrestaurant/edit" routerLinkActive="active">Szerkesztés</a></li>
              <li><a class="dropdown-item" routerLink="myrestaurant/menu" routerLinkActive="active">Étlap</a></li>
              <li><a class="dropdown-item" routerLink="myrestaurant/settings" routerLinkActive="active">Beállítások</a></li>
            </ul>
          </li>
        </ng-container>
        <li class="nav-item">
          <a class="nav-link" routerLink="kapcsolatok" routerLinkActive="active">Rólunk</a>
        </li>
      </ul>
    </div>
  </div>
</nav>