mat-expansion-panel {
    padding: 0px;
}

mat-expansion-panel-header {
    height: auto;
    padding: 15px 25px;
}

mat-expansion-panel-header.mat-expanded {
    height: auto;
}       

.review-header {
    width: 100%;
}