mat-expansion-panel {
  padding: 0px;
}

mat-expansion-panel-header {
  height: auto;
  padding: 15px 25px;
}

mat-expansion-panel-header.mat-expanded {
  height: auto;
}

button {
  display: flex;
  align-items: center;
}

mat-icon {
  margin-right: 5px;
}

.restaurant-name {
  text-decoration: none;
}

.review-header {
  width: 100%;
}
