<mat-accordion class="row justify-content-center">
  <mat-expansion-panel
    class="col-md-10 my-1"
    hideToggle
    *ngFor="let review of guestReviews | async"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="review-header">
          <h4>
            <a [routerLink]="['/restaurant/details', review.restaurantId]">{{
              review.restaurantName
            }}</a>
          </h4>
          <h5>{{ review.title }}</h5>
          <h6 class="mb-2 text-muted">
            {{ review.createdAt | date: "yyyy.MM.dd" }}
          </h6>
          <app-rating-bar [rating]="review.rating"></app-rating-bar>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="card-text mt-3 text-justify">{{ review.description }}</p>
    <mat-action-row>
      <button
        type="button"
        class="btn btn-danger p-3"
        (click)="deleteReview(review)"
      >
        <fa-icon [icon]="faTrashAlt"></fa-icon> Törlés
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
