<div class="row justify-content-center mb-3">
  <div class="col-md-10">
    <button
      type="button"
      class="btn btn-success btn-lg add-button"
      (click)="addFood()"
    >
      <mat-icon aria-hidden="false" aria-label="Add"
        >add_circle_outline</mat-icon
      >
      <span>Hozzáadás</span>
    </button>
  </div>
</div>
<mat-accordion class="row justify-content-center">
  <mat-expansion-panel
    class="col-md-10 my-1"
    hideToggle
    *ngFor="let food of foods | async"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="d-flex justify-content-start">
          <img
            [src]="food.imagePath"
            [alt]="food.name"
            class="img-fluid align-self-start"
          />
          <div class="d-flex flex-column">
            <h3 class="food-name">{{ food.name }}</h3>
            <p class="food-price">
              {{ food.price | currency: "Ft":"symbol":"1.0-0" }}
            </p>
          </div>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="text-muted food-details">{{ food.description }}</p>
    <mat-action-row>
      <button
        type="button"
        class="btn btn-success p-3 me-3"
        (click)="onImageUpload(food)"
      >
        <mat-icon aria-hidden="false" aria-label="Upload">upload</mat-icon>
        Képfeltöltés
      </button>
      <button
        type="button"
        class="btn btn-primary p-3 me-3"
        (click)="editFood(food)"
      >
        <mat-icon aria-hidden="false" aria-label="Edit">edit</mat-icon>
        Szerkesztés
      </button>
      <button
        type="button"
        class="btn btn-danger p-3"
        (click)="deleteFood(food)"
      >
        <mat-icon aria-hidden="false" aria-label="Delete">delete</mat-icon>
        Törlés
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
