.card {
    margin-top: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-group-prepend span {
    width: 50px;
}

.remember input {
    width: 20px;
    height: 20px;
    margin: 10px 5px 20px 15px;
}

.btn-primary.login-btn {
    padding: 10px 20px;
}

div.input-group.form-group {
    margin: 10px 0px 0px 0px;
}
