<mat-tab-group dynamicHeight>
    <mat-tab label="Összes">
        <app-spinner *ngIf="!(orderOverviews | async)"></app-spinner>
        <div *ngIf="(orderOverviews | async)?.length === 0">
            <h1 class="text-center">Nincs találat</h1>
        </div>
        <mat-accordion>
            <app-order-list-item *ngFor="let order of (orderOverviews | async)" [orderOverview]="order">
            </app-order-list-item>
        </mat-accordion>
    </mat-tab>
    <mat-tab label="Folyamatban">
        <app-spinner *ngIf="!(orderOverviews | async)"></app-spinner>
        <div *ngIf="(orderOverviews | async | inProgressOrders)?.length === 0">
            <h1 class="text-center">Nincs találat</h1>
        </div>
        <mat-accordion>
            <app-order-list-item *ngFor="let order of (orderOverviews | async | inProgressOrders)" [orderOverview]="order">
            </app-order-list-item>
        </mat-accordion>
    </mat-tab>
    <mat-tab label="Lezárt">
        <app-spinner *ngIf="!(orderOverviews | async)"></app-spinner>
        <div *ngIf="(orderOverviews | async | closedOrders)?.length === 0">
            <h1 class="text-center">Nincs találat</h1>
        </div>
        <mat-accordion>
            <app-order-list-item *ngFor="let order of (orderOverviews | async | closedOrders)" [orderOverview]="order">
            </app-order-list-item>
        </mat-accordion>
    </mat-tab>
</mat-tab-group>