.border-box {
  border: 2px solid gray;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  background-color: rgb(228, 237, 245);
}

.list-group-item {
  background-color: rgb(252, 235, 213);
}

.order-status {
  background-color: rgb(182, 182, 182);
}

.order-total {
  background-color: rgb(129, 194, 161);
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: large;
}

p {
  margin: 0px;
}
