.card {
    transition: 0.3s;
    height: 100%;
}

.card:hover {
    opacity: 0.7;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.progress {
    margin: 20px 5px 30px 5px;
}

img {
    max-width: 500px;
}