<div class="row justify-content-center">
  <div class="col-lg-10">
    <div class="header">
      <div class="info">
        <h1>IRestaurant</h1>
        <div class="meta">Készítette Stedra Kristóf, 2021</div>
      </div>
    </div>
    <section class="content">
      <p>
        Az <b>IRestaurant</b> egy étteremkezelő webalkalmazás, amit
        szakdolgozatomhoz készítettem. Az alkalmazás szerver oldala
        <i>ASP.NET Core</i> és a kliens oldala <i>Angular</i> keretrendszerrel
        készült.
      </p>
      <h3>Cél</h3>
      <p>
        A kisebb vendéglátó egységektől általában nem rendelkeznek megfelelő
        webes felülettel, ahol tájékozódhatnánk az étterem aktuális kínálatáról
        és rendeléseket adhatnánk le. Házszállítás esetén általában csak a
        hagyományos telefonos rendelési opció érhető el.
      </p>
      <p>
        A probléma megoldására egy olyan webalkalmazás készítése volt a célom,
        ami a kisebb éttermek számára nyújt megoldást kínálatuk hirdetésében és
        a rendeléssel kapcsolatos folyamatok kezelésében. Továbbá azt is
        szerettem volna biztosítani a felhasználók számára, hogy az oldalon
        kifejezhessék véleményüket az egyes éttermekkel kapcsolatban, ezzel is
        segítve a többi felhasználót a tájékozódásaban.
      </p>
      <p align="center">
        <a
          class="github btn btn-outline-dark"
          href="https://github.com/Parziwal/IRestaurant"
          target="_b"
          >Forráskód elérhető GitHubon</a
        >
      </p>
    </section>
  </div>
</div>
