img {
    width: 150px;
    margin-right: 20px;
    border-radius: 4px;
}

.food-name {
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: 10px;
}

.food-price {
    font-family: "Open Sans", "Arial", "sans-serif";
    font-size: 1.2rem;
}

.food-details {
    text-align: justify;
    padding-top: 10px;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 2px solid gray;
}

.menu-header button {
    border-radius: 0px;
    width: 40%;
}

mat-expansion-panel {
    padding: 0px;
}

mat-expansion-panel-header {
    height: auto;
    padding: 5px;
}

mat-expansion-panel-header.mat-expanded {
    height: auto;
}       